.mod-user-login form{
	padding: 10px;
}
.mod-user-login div{
	overflow:hidden;
	line-height: 2em;
	margin-bottom:5px;
}
.mod-user-login span{
	float: left;
	width: 75px;
}
.mod-user-login input[type="text"], .mod-user-login input[type="password"]{
	min-width:50%;
	padding:6px;
}
.mod-user-login a{
	font-size:80%;
	margin: 0 5px 0 2px;
}