/* Fiyo Comment */

/* Article Comment */


#comment{
	padding: 10px 0;		
	width: 100%;
	overflow: hidden;
	float: left;
}
#comment h3 {
	margin: 0 ;
}
.article-comment legend {
	font-weight: normal;
	font-size: 100%;
}
#recaptcha_area {
	overflow: initial;
	margin: 0 5px 0 0;
}
#recaptcha_widget_div {
	margin: 0;
	display: inline-block;
}
#recaptcha_widget_div .recaptcha_theme_clean {
	background :#fff;
}
#recaptcha_widget_div img {
	background : 0;
	margin:0;
	padding:0;
	border:0 !important;
	box-shadow: 0 0 0 #fff;;
}
#recaptcha_widget_div img:hover {
	box-shadow: 0 0 0 #fff;;
}
.article-comment h3{
	margin:10px 0 0;
	padding:5px;
	border-bottom: dotted 1px #aaa;
}
.article-comment legend{
	border-bottom: dotted 1px #aaa;
}
.article-comment legend span{
	font-family:Georgian,Seriv;
}
.inner-comment { 
	padding:0;
	margin : 0 0 5px;
	overflow: hidden;
}		
.avatar-comment { 
	float : left;
}

.avatar-comment img{ 
	margin :4px;
	padding :3px !important;
	box-shadow :0 0 3px #aaa;
}
.right-comment { 
	margin: 0 1px 0 70px;
}	

.apps .admin-comment  {
	box-shadow:inset 0 0 3px #999;
	background : #f3f3f3  !important;
	margin: 5px 5px 7px 3px;
	padding:4px 7px 4px 5px;
}
.admin-comment img {
	background : #fafafa;
	box-shadow:0 0 3px #888 !important;
}
.admin-comment .main-comment {
	background : #fafafa;
	padding:5px 5px 7px;
	margin: 5px 1px 5px 0;
	box-shadow: 0 0 3px #999;
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
}
.main-comment {
	background : #f3f3f3;
	padding:4px 5px;
	margin: 5px 5px 5px 0 ;
	box-shadow: 0 0 3px #aaa;
	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
}
.main-comment span {
	float : right;
	font-weight : bold;
	font-size : 14px;
}

.inner-comment { 
	display: block;
	margin-bottom: 10px;
}
.mod-avatar-comment { 
	margin:2px 0 0 3px;
	float: left;
}
.mod-right-comment { 
	 margin: 0 1px 10px 47px;
	line-height: 1.7em;
}
.mod-right-comment.u3{ 
	 margin: 0 1px 10px 6px;
}
	

