/* Fiyo Comment */
.mod-article-list {
	margin:0;
}
.mod-article-list li {
	overflow:hidden;
	padding:0 0 8px !important;
}
.mod-article-date {
	float: left;
	width:35px;
	margin: 0 10px 0 0;
	font-size: 1.3em;
	text-align:center;
	border: 1px solid #ccc;
	overflow:hidden;
	background: #fff;
	border-radius:5px;
}
.mod-article-date span {
	line-height: 1.5em;
	padding: 0;
	font-size: 65%;
	float: left;
	width:35px;
	text-align:center;
	background: #eee;
}
.mod-article-list .title {
	margin-top: 0 !important;
	line-height: 1.6em;
	font-size: 1.1em;
}