/* Contact */
.contactForm {
	border: 1px solid rgb(221, 221, 221);
	background-color: rgb(250, 250, 250);
	padding: 10px 0px;
	display: block;
	margin: 4px 0;
	z-index: 999;
}
.contactButton {
	padding: 8px 15px;
	cursor: pointer;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(204, 204, 204);
	display: inline;
	cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.btn-bottom {
	border-bottom : #fafafa 1px solid;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.contactEms {
	margin : 10px 5px;
}
#contact .group{
	border-collapse:collapse;
	border: 0px solid #333;
	width:100%;
}
#contact .group td{
}
#contact .group th{
	padding: 5px 10px;
}
#contact td {
	padding: 2px 5px;
}
#contact .group tr.head{
	background: #333;
	color : #eee;
}
#contact .group tr.ganjil{
	background: #fefefe;
}
#contact .group tr.genap{
	background: #f6f6f6;
}
#contact table .link img {
	width:16px;
	height:16px;
	margin:3px 3px 3px 0;
}
.contact-photo {
	float:right;
}
.contact-photo img{
	float:right;
	max-width:200px;
	max-height:230px;
	margin-right:5%;
}

.notice-info{ 
	margin: 5px 0;
	color: rgb(255, 255, 255);
	padding: 7px 5px 6px 41px;
	border: 1px solid rgb(56, 120, 150);
	background: url(../images/notice-info.png) no-repeat 5px 5px rgb(139, 167, 209);
	font-size: 110%;
	font-weight: bold;
}
.notice-error{ 
	margin: 5px 0;
	color: #8e0000;
	padding: 6px 5px 6px 41px;
	border: 1px solid rgba(142, 0, 0, 0.12);
	background: url(../images/notice-error.png) no-repeat 5px 1px #ffecec;
	font-size: 110%;
	font-weight: bold;
}
label.error {
	border-radius: 5px;
	margin: 5px 0 0 -10px;
	position: absolute;
	padding: 1px 5px;
	color: #fff;
	background: #D81414;
	display: inline-block;
}
/* Article Pagging */
.contact-paging { padding : 10px 0 ; }
ul.paging,ul.tags {list-style:none; text-align: center;}
ul.paging li,ul.tags li {display:inline; margin:0 2px; }